tests/testdata/bib -crlf
tests/testdata/book1 -crlf
tests/testdata/book2 -crlf
tests/testdata/geo -crlf
tests/testdata/news -crlf
tests/testdata/obj1 -crlf
tests/testdata/obj2 -crlf
tests/testdata/paper1 -crlf
tests/testdata/paper2 -crlf
tests/testdata/paper3 -crlf
tests/testdata/paper4 -crlf
tests/testdata/paper5 -crlf
tests/testdata/paper6 -crlf
tests/testdata/pic -crlf
tests/testdata/progc -crlf
tests/testdata/progl -crlf
tests/testdata/progp -crlf
tests/testdata/trans -crlf
