# ==========================================================================
# Copyright (C) 2022 Intel Corporation
#
# SPDX-License-Identifier: MIT
# ==========================================================================

breathe==4.35.0
Sphinx==6.2.1
sphinx-book-theme==1.0.1
