# ==========================================================================
# Copyright (C) 2022 Intel Corporation
#
# SPDX-License-Identifier: MIT
# ==========================================================================

breathe==4.35.0
Sphinx==7.2.6
sphinx-book-theme==1.1.2
