# ==========================================================================
# Copyright (C) 2022 Intel Corporation
#
# SPDX-License-Identifier: MIT
# ==========================================================================

breathe==4.31.0
Sphinx==4.3.2
sphinx-book-theme==0.2.0
